{
  "printWidth": 1024,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": false,
  "importOrder": [
    "^react",
    "^preact",
    "^domain",
    "^frameworks",
    "^hooks",
    "^infra",
    "^VoiceEditor",
    "^VoiceUI",
    "^@mui/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}